@charset "UTF-8";
/******************************************************************
Site Name: Green Oak PCC Ltd.
Site URL: https://greenoakpcc.com/
Author: JRSL
Copyright: © 2021 Green Oak PCC Ltd. All rights reserved.
Last Updated: 2021.12.02

Stylesheet: common Stylesheet

******************************************************************/

/*
html:focus-within {
  scroll-behavior: smooth;
}
*/

/*------------------------------------
- COLOR primary（デフォルトカラー変更）
------------------------------------*/
.alert-primary {
  color: #000000;
  background-color: #41e5e2;
  border-color: #30e2df;
}

.alert-primary hr {
  border-top-color: #1edad8;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #0b504f;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #042322;
}

.bg-primary {
  background-color: #0b504f !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #042322 !important;
}

.border-primary {
  border-color: #0b504f !important;
}

.btn-primary {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #063030;
  border-color: #042322;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #042322;
  border-color: #021515;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.btn-outline-primary {
  color: #0b504f;
  background-color: transparent;
  border-color: #0b504f;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0b504f;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.list-group-item-primary {
  color: #000000;
  background-color: #30e2df;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #000000;
  background-color: #1edad8;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #30e2df;
}

.table-hover .table-primary:hover {
  background-color: #1edad8;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #1edad8;
}

.text-primary {
  color: #0b504f !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #042322 !important;
}

/*------------------------------------
- COLOR success（デフォルトカラー変更）
------------------------------------*/
.alert-success {
  color: #051412;
  background-color: #84dcce;
  border-color: #74d7c8;
}

.alert-success hr {
  border-top-color: #61d2c0;
}

.alert-success .alert-link {
  color: #000000;
}

.badge-success {
  color: #fff;
  background-color: #217467;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: #fff;
  background-color: #154c43;
}

.bg-success {
  background-color: #217467 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #154c43 !important;
}

.border-success {
  border-color: #217467 !important;
}

.btn-success {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-success:hover {
  color: #fff;
  background-color: #19584e;
  border-color: #154c43;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #154c43;
  border-color: #124039;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.btn-outline-success {
  color: #217467;
  background-color: transparent;
  border-color: #217467;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #217467;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.list-group-item-success {
  color: #051412;
  background-color: #74d7c8;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #051412;
  background-color: #61d2c0;
}

.list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #051412;
  border-color: #051412;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #74d7c8;
}

.table-hover .table-success:hover {
  background-color: #61d2c0;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #61d2c0;
}

.text-success {
  color: #217467 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #154c43 !important;
}

/* ▲▲ デフォルトカラー変更ここまで ▲▲ */

/*************************
共通
**************************/

/* Global Navigation */

header .nav-item .nav-link {
  color: #6c757d;
  position:relative;
}

header .nav-item .nav-link::before {
  content:"";
  display:block;
  width:100%;
  height:1px;
  background-color:darkgray;
  position:absolute;
  top:0;
  left:0;
}

header .nav-item .nav-link:hover {
  color: #0b504f;
  position: relative;
}

header .nav-item .nav-link:hover::before {
  content:"";
  display:block;
  width:100%;
  height:4px;
  background-color:#0b504f;
  position:absolute;
  top:0;
  left:0;
}

header .nav-item .active {
  color: #0b504f;
  position: relative;
}

header .nav-item .active::before {
  content:"";
  display:block;
  width:100%;
  height:4px;
  background-color:#0b504f;
  position:absolute;
  top:0;
  left:0;
}

/* Breadcrumb */


/* Animation */
/* home・services・about のみ */

.scrollanime {
  opacity: 0;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.downup {
  transform: translateY(100px);
}


/* Footer 上部 */
/* ▼▼ mobile ▼▼ */
.text-box {
  background-image: url(../images/footer_bg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 400px;
  width: 100%;
}

.text-box hr {
  width: 80%;
  height: 2px;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.text-box .fixed-phrase {
  width: 90%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.text-box .fixed-phrase p {
  font-size: 0.5rem;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  .text-box {
    background-image: url(../images/footer_bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 633px;
    width: 100%;
  }

  .text-box hr {
    width: 70%;
    height: 2px;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .text-box .fixed-phrase {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

  .text-box .fixed-phrase p {
    font-size: 0.8rem;
  }
}
/* ▲▲ 768px以上 ▲▲ */

/* Footer */
footer {
  background-color: #292a33;
  color: #fff;
}

footer .footer-navi {
  font-size: 0.8rem;
}

footer hr {
  width: 100%;
  height: 2px;
  color: #fff;
}


/* Page Top ボタン */

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  background: #0b504f;
  opacity: 0.6;
  border-radius: 50%;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -12px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}


/*************************
Topページ（home）
**************************/

/* ▼▼ mobile ▼▼ */
#home video {
  position: absolute;
}

#home .tagline {
  position: absolute;
  width: 100%;
  top: 40%;
  padding: 1.5rem 2rem;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #home .sticky-top {
    background-color: white;
  }

  #home .bg-img {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  #home video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    z-index: -1;
  }

  #home .tagline {
    position: absolute;
    width: 100%;
    top: 80%;
    padding: 1.5rem 2rem;
  }

  #home .lead {
      padding-top: 1rem;
  }

  #home .pcc-movie {
    width: 1000px;
    height: auto;
  }

  #home .catch {
    padding-top: 25%;
  }

  #home .icon-box {
    height: 250px;
  }

  #home .icon-box .icon-image {
    position: relative;
    overflow: hidden;
    justify-content: center;
    height: 250px;
  }

  #home .icon-box .icon-image .icon {
    position: absolute;
    height: 150px;
    width: 120px;
    top: 25%;
    left: 20%;
  }

  #home .icon-box .icon-image .icon-transition {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 250px;
    width: 300px;
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: all 0.6s ease;
  }

  #home .icon-box .icon-image .icon-transition:hover {
    color: #fff;
    opacity: 1;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  #home .row-height {
    display: flex;
    flex-wrap: wrap;
  }

}/* ▲▲ 768px以上 ▲▲ */

/*************************
事業内容（services）
**************************/

/* ▼▼ mobile ▼▼ */
#services .main-content-header {
  background-image: url(../images/services_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /*background-size: auto 200px;*/
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 200px;
}

#services .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #0b504f;
  font-size: 2.5rem;
  /*padding-top: 30%;
  padding-bottom: calc(100% - 2.5rem - 30% );*/
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) { 
  #services .main-content-header {
    background-image: url(../images/services_mv.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
  }

  #services .main-content-header .page-title {
    opacity: 0.70; /* 70％不透明度(＝30％透過) */
    background-color: #0b504f;
    font-size: 3.5rem;
    padding: 1.5rem;
    /*padding-top: 10%;*/
  }

  #services .labuan-movie {
    width: 560px !important;
    height: 315px !important;
  }

  #services .ibfc-logo {
    width: 509px !important;
    height: 300px !important;
  }
}/* ▲▲ 768px以上 ▲▲ */


/*************************
会社概要（about）
**************************/

/* ▼▼ mobile ▼▼ */
#about .main-content-header {
  background-image: url(../images/about_sp_mv.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  /*background-size: auto 200px;*/
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 200px;
}

#about .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #0b504f;
  font-size: 2.5rem;
  padding-top: 30%;
  padding-bottom: calc(100% - 2.5rem - 30% );
}

#about .catch-image {
  background-blend-mode: overlay;
  background-color: rgba(11, 80, 79, 0.7);
  background-image: url(../images/about_03.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 500px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #about .main-content-header {
    background-image: url(../images/about_mv.jpg);
    background-position: center top;
    /*background-position: center bottom;
    background-position: left top;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
}

  #about .main-content-header .page-title {
    opacity: 0.70; /* 70％不透明度(＝30％透過) */
    background-color: #0b504f;
    font-size: 3.5rem;
    padding: 1.5rem;
    /*padding-top: 20%;*/
  }

  #about .catch-image {
    background-blend-mode: overlay;
    background-color: rgba(11, 80, 79, 0.7);
    background-image: url(../images/about_03.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  #about .mission {
    position: absolute;
    width: calc(100% / 2 );
    top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
  }

  #about table th {
    width: 20%;
  }

  #about .list-group-item {
    padding-left: 0 !important;
  }
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
よくある質問（faq）
**************************/

/* ▼▼ mobile ▼▼ */
#faq .main-content-header {
  background-image: url(../images/faq_mv.jpg);
  /*background-position: center bottom;*/
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 200px;
  /*height: 500px;*/
}

#faq .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #0b504f;
  font-size: 2.5rem;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #faq .main-content-header {
    background-image: url(../images/faq_mv.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
  }

  #faq .main-content-header .page-title {
    opacity: 0.70; /* 70％不透明度(＝30％透過) */
    background-color: #0b504f;
    font-size: 3.5rem;
    padding: 1.5rem;
  }

  #faq .internal-link {
    margin-bottom: 70px;
  }

  #faq .anchor { /* ページ内リンクのジャンプ先の位置を調整 */
    display: block;
    padding-top: 170px;
    margin-top: -170px;
  }
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
トピックス（topics）
**************************/

/* ▼▼ mobile ▼▼ */
#topics .main-content-header {
  background-image: url(../images/topics_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /*background-size: auto 400px;
  background-size: cover;*/
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 200px;
  /*height: 400px;*/
}

#topics .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #0b504f;
  font-size: 2.5rem;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #topics .main-content-header {
    background-image: url(../images/topics_mv.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
  }

  #topics .main-content-header .page-title {
    opacity: 0.70; /* 70％不透明度(＝30％透過) */
    background-color: #0b504f;
    font-size: 3.5rem;
  }

  #topics .topic-card {
    width: 32%;
  }
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
お問い合わせ（contact）
**************************/

/* ▼▼ mobile ▼▼ */
#contact .main-content-header {
  background-blend-mode: overlay;
  background-color: rgba(28, 109, 108, 0.7);
  background-image: url(../images/contact_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 200px;
  width: 100%;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #contact .main-content-header {
    background-blend-mode: overlay;
    background-color: rgba(28, 109, 108, 0.7);
    background-image: url(../images/contact_mv.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
  }

  #contact .main-content-header .page-title {
    font-size: 3.5rem;
  }

  #contact label {
    padding-top: 7px;
  }

  #contact .form-group {
    margin-bottom: 0;
  }

  #contact .require_item {
    width: 62.5%;
    padding: 3.75% 0;
  }

  #contact .label-required::after {
    background-color: #dc3545;
    color: #fff;
    content: "必須";
    display: inline-block;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-left: 8px;
    padding: 0 0.5rem;
    text-align: center;
    border: 1px solid #dc3545;
    border-radius: 3px;
    font-size: 0.8rem;
  }

  #contact .label-optional::after {
    background-color: #6c757d;
    color: #fff;
    content: "任意";
    display: inline-block;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-left: 8px;
    padding: 0 0.5rem;
    text-align: center;
    border: 1px solid #6c757d;
    border-radius: 3px;
    font-size: 0.8rem;
  }
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
サンキュページ（thanks）
**************************/

/* ▼▼ mobile ▼▼ */
#thanks .main-content-header {
  background-image: url(../images/thanks_mv.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ▲▲ mobile ▲▲ */

/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #thanks .main-content-header {
    background-image: url(../images/thanks_mv.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
プライバシーポリシー（privacy）
**************************/

/* ▼▼ mobile ▼▼ */
#privacy .main-content-header {
  background-blend-mode: overlay;
  background-color: rgba(33, 37, 41, 0.7);
  background-image: url(../images/privacy_policy_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 200px;
  width: 100%;
}

#privacy .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #fff;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
  #privacy .main-content-header {
    background-blend-mode: overlay;
    background-color: rgba(33, 37, 41, 0.7);
    background-image: url(../images/privacy_policy_mv.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    height: 300px;
    width: 100%;
  }

  #privacy .main-content-header .page-title {
    opacity: 0.70; /* 70％不透明度(＝30％透過) */
    background-color: #fff;
    font-size: 3.5rem;
  }
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
クッキーポリシー （cookies）
**************************/

/* ▼▼ mobile ▼▼ */
#cookies .main-content-header {
  background-image: url(../images/cookies_policy_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 200px;
  width: 100%;
}

#cookies .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #fff;
}
/* ▲▲ mobile ▲▲ */


/* ▼▼ 768px以上 ▼▼ */
@media only screen and (min-width: 768px) {
#cookies .main-content-header {
  background-image: url(../images/cookies_policy_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 300px;
  width: 100%;
}

#cookies .main-content-header .page-title {
  opacity: 0.70; /* 70％不透明度(＝30％透過) */
  background-color: #fff;
  font-size: 3.5rem;
}
}
/* ▲▲ 768px以上 ▲▲ */


/*************************
クッキー 同意 ポップアップウインドウ （homeのみ）
**************************/

.cookie-consent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(11,80,79,.7);
  box-sizing: border-box;
  visibility: visible;
}

.cookie-agree:hover {
  cursor: pointer;
}

/* パッと消える */
.cc-hide1 {
  display: none;
}

/* ゆっくり消える */
.cc-hide2 {
  animation: hide 1s linear 0s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .cookie-consent {
    flex-direction: column;
  }
  .cookie-text {
    margin-bottom: 1em;
  }
}


/*************************
応募フォーム （recruit）
**************************/

#recruit .main-content-header {
  background-blend-mode: overlay;
  background-color: rgba(33, 37, 41, 0.7);
  background-image: url(../images/recruit_mv.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 300px;
  width: 100%;
}

#recruit .label-required::after {
  background-color: #dc3545;
  color: #fff;
  content: "必須";
  display: inline-block;
  height: 1.4rem;
  line-height: 1.4rem;
  margin-left: 8px;
  padding: 0 0.5rem;
  text-align: center;
  /*width: 32px;*/
  border: 1px solid #dc3545;
  border-radius: 3px;
  font-size: 0.8rem;
}

#recruit .label-optional::after {
  background-color: #6c757d;
  color: #fff;
  content: "任意";
  display: inline-block;
  height: 1.4rem;
  line-height: 1.4rem;
  margin-left: 8px;
  padding: 0 0.5rem;
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 3px;
  font-size: 0.8rem;
}


/*************************
応募ページ　サンキュページ（recruit-thanks）
**************************/

#recruit-thanks .main-content-header {
  background-image: url(../images/thanks_mv.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

