/******************************************************************
Site Name: Green Oak PCC Ltd.
Site URL: https://greenoakpcc.com/
Author: JRSL
Copyright: 2021
Last Updated: 2021.08.25

Stylesheet: common Stylesheet

******************************************************************/

/*------------------------------------
- COLOR primary（デフォルトカラー変更）
------------------------------------*/
.alert-primary {
  color: #000000;
  background-color: #41e5e2;
  border-color: #30e2df;
}

.alert-primary hr {
  border-top-color: #1edad8;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #0b504f;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #042322;
}

.bg-primary {
  background-color: #0b504f !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #042322 !important;
}

.border-primary {
  border-color: #0b504f !important;
}

.btn-primary {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #063030;
  border-color: #042322;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #042322;
  border-color: #021515;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.btn-outline-primary {
  color: #0b504f;
  background-color: transparent;
  border-color: #0b504f;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0b504f;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0b504f;
  border-color: #0b504f;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 80, 79, 0.5);
}

.list-group-item-primary {
  color: #000000;
  background-color: #30e2df;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #000000;
  background-color: #1edad8;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #30e2df;
}

.table-hover .table-primary:hover {
  background-color: #1edad8;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #1edad8;
}

.text-primary {
  color: #0b504f !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #042322 !important;
}

/*------------------------------------
- COLOR success（デフォルトカラー変更）
------------------------------------*/
.alert-success {
  color: #051412;
  background-color: #84dcce;
  border-color: #74d7c8;
}

.alert-success hr {
  border-top-color: #61d2c0;
}

.alert-success .alert-link {
  color: #000000;
}

.badge-success {
  color: #fff;
  background-color: #217467;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: #fff;
  background-color: #154c43;
}

.bg-success {
  background-color: #217467 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #154c43 !important;
}

.border-success {
  border-color: #217467 !important;
}

.btn-success {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-success:hover {
  color: #fff;
  background-color: #19584e;
  border-color: #154c43;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #154c43;
  border-color: #124039;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.btn-outline-success {
  color: #217467;
  background-color: transparent;
  border-color: #217467;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #217467;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #217467;
  border-color: #217467;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 116, 103, 0.5);
}

.list-group-item-success {
  color: #051412;
  background-color: #74d7c8;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #051412;
  background-color: #61d2c0;
}

.list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #051412;
  border-color: #051412;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #74d7c8;
}

.table-hover .table-success:hover {
  background-color: #61d2c0;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #61d2c0;
}

.text-success {
  color: #217467 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #154c43 !important;
}





/* ▲▲ デフォルトカラー変更ここまで ▲▲ */

/**********
共通
**********/

footer {
  background-color: #292a33;
  color: #fff;
}



/**********
Topページ
**********/

.sticky-top {
  /*position: -webkit-sticky;*/
  background-color: white;
}

.bg-img {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  /*background: url('../images/bg.png') no-repeat;*/
  background-size: cover;
  z-index: -1;
}

/*

#about .mission {
  position: absolute;
  width: calc(100% / 2 );
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
*/

#home .tagline {
  /*background: rgba(255, 255, 255, .75);*/
  position: absolute;
  width: calc(100% / 2 );
  top: 85%;
  left: 50%;
  transform: translate(-85%, -50%);
  -webkit-transform: translate(-85%, -50%);
  -ms-transform: translate(-85%, -50%);
  /*
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  */
  padding: 1.5rem 2rem;
}

.lead {
  /*text-align: center;*/
  padding-top: 1rem;
}

.icon-box {
  height: 250px;
  /*width: 33.3333333333%;*/
}

.icon-box .icon-image {
  position: relative;
  overflow: hidden;
  justify-content: center;
  height: 250px;
  /*width: 300px;*/
}

.icon-box .icon-image .icon {
  position: absolute;
  height: 150px;
  width: 120px;
  top: 25%;
  left: 20%;
  /*top: 20%;
  left: 30%;*/
}

.icon-box .icon-image .icon-transition {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 250px;
  width: 300px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: all 0.6s ease;
}

.icon-box .icon-image .icon-transition:hover {
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.text-box {
  background-image: url(../images/footer_bg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 633px;
  width: 100%;
}

.text-box hr {
  width: 70%;
  color: #fff;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
.text-box .fixed-phrase {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.text-box .fixed-phrase p {
  font-size: 0.8rem;
}

/*****************
事業内容（services）
******************/

#services .main-content-header {
  background-image: url(../images/services_mv.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 650px;
  width: 100%;
}

#services .main-content-header .page-title {
  font-size: 3.5rem;
  padding-top: 15%;
  padding-left: 20%;
}

/*****************
会社概要（about）
******************/

#about .main-content-header {
  background-image: url(../images/about_mv.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 650px;
  width: 100%;
}

#about .main-content-header .page-title {
  /*color: #2f2e2e;*/
  font-size: 3.5rem;
  padding-top: 15%;
  padding-left: 20%;
}

#about .catch-image {
  background-blend-mode: overlay;
  background-color: rgba(11, 80, 79, 0.5);
  background-image: url(../images/about_03.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 380px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#about .mission {
  position: absolute;
  width: calc(100% / 2 );
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
